#info, #board, #reveal {
    display: none;
}

#turn {
    text-transform: uppercase;
}

table {
    table-layout: fixed;
    width: 100%;
}

table td {
    padding: 0.3rem;
    text-align: center;
}

.card {
  border-radius: 0.5rem;
  padding: 1rem;
  text-transform: uppercase;
  background-color: #F8E7CB;
}

.word {
    font-size: 1rem;
    padding: 5px 0 5px 0;
    background-color: #ffffff;
}

.blue {
    background-color: #1080B2;
}

.red {
    background-color: #E20720;
}

.bystander {
    background-color: #AA8A70;
}

.assassin {
    background-color: black;
}
